flask==1.0.2
scrapy==1.5.0
python-dateutil==2.7.2
PySocks==1.5.7
eventlet==0.19.0
greenlet==0.4.10
redis==2.10.5
requests==2.10.0
psycopg2==2.7.4
bs4==0.0.1
HTMLParser==0.0.2
random-useragent==1.0
user-agent==0.1.9